.contact_button {
  float: left;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  width: 180px;
  padding: 13px 0;
  margin: 0 auto;
  text-align: center;
  font-weight: 800;
  font-size: 13px;
  margin-top: 20px;
}

.learn_button {
  float: left;
  background-color: white;
  color: red;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  width: 180px;
  padding: 13px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  border: 2px solid red;
}

.subscribe {
  float: right;
  margin-right: 20%;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  width: 180px;
  height: 60px;
  padding: 15px 0;
  text-align: center;
  font-weight: 800;
  font-size: 13px;
  margin-top: -60px;
}

.getin .send_button {
  float: left;
  margin-top: 340px;
  margin-left: -700px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  width: 580px;
  height: 50px;
  padding: 15px 0;
  text-align: center;
  font-weight: 800;
  font-size: 13px;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.085em;
  margin-bottom: 0;
}

p {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.5;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.085em;
}

#blacktext {
  font-size: 14px;
  line-height: 1.5;
  opacity: 1;
}

h3 {
  margin-bottom: 0;
}

#feature {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

#graytext {
  text-align: center;
  margin-bottom: 20px;
}

.midbar a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

.redtext {
  color: red;
}

h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}

.menu3 a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.jue {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  background-color: #7a786e;
  padding: 5px 36px 5px 36px;
  position: absolute;
}

h5 {
  text-decoration: none;
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 70px;
  letter-spacing: 0.085em;
}

#deli p {
  color: white;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 50px;
}

h6 {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 70px;
  margin-top: 90px;
}

.contact p {
  color: white;
  text-align: left;
  margin-left: 70px;
  font-size: 12px;
}

.footer p {
  padding: 35px 0 34px 70px;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

header {
  background-color: #f6f2f2;
  padding-bottom: 111px;
}

.topbar {
  padding: 0 38%;
  background-color: black;
  width: 100%;
  height: 100px;
}

.menu {
  display: block;
  padding: 0;
  margin: 0;
}

.menu li {
  float: left;
  display: block;
  margin-right: 41px;
  margin-top: 45px;
}

#redbox {
  background-color: red;
  padding: 46px 25px 36px 25px;
  margin: 0 41px 0 0;
}

.boxes {
  margin-left: 20%;
  padding-top: 50px;
}

.video {
  background-color: #c4c0b1;
  width: 384px;
  height: 235px;
  float: right;
  margin-right: 20%;
  opacity: 0.8;
  box-shadow: 0 0 50px;
  margin-top: -175px;
}

img {
  margin: 85px 0 0 150px;
  width: 70px;
  height: 70px;
}

.grid {
  float: right;
  margin-top: -200px;
}
.grid > div {
  float: right;
  margin-right: 15%;
  width: 42.5%;
}
.grid > div:nth-child(2n) {
  margin-right: 0;
}

hr {
  width: 100%;
  background-color: #ececec;
  height: 2px;
  margin-top: 300px;
}

.line {
  width: 100px;
  background-color: red;
  height: 2px;
  margin-top: 0;
}

.midbar {
  width: 100%;
  margin: 0 30%;
}

.menu2 {
  display: block;
  padding-bottom: 100px;
  margin: 0;
}

.menu2 li {
  float: left;
  display: block;
  margin-right: 40px;
  margin-top: 45px;
}

.grid_box {
  margin-left: 10%;
}

.grid2 {
  width: 80%;
}
.grid2 > div {
  float: right;
  margin-right: 5;
  width: 18.75%;
  box-sizing: border-box;
}
.grid2 .products {
  width: 20%;
}

.products {
  margin: 12px;
}

.products img {
  height: 250px;
  width: 250px;
  margin: 0;
}

.boxes hr {
  float: left;
}

.longbox {
  background-color: #f5f0dd;
  height: 400px;
  width: 300px;
  margin: 65px 65px 65px 20%;
}

.mark {
  float: left;
  margin-left: 40%;
  margin-top: -490px;
}

.menu3 li {
  float: left;
  display: block;
  font-style: italic;
  margin-right: 55px;
  margin-top: 15px;
  margin-left: -35px;
}

.team_img {
  background-color: #f5f0dd;
  margin: 5px;
  height: 150px;
  width: 150px;
  margin-top: 95px;
  position: relative;
  padding-top: 125px;
}

.team_img img {
  height: 150px;
  width: 150px;
  margin: 0;
  margin-top: -125px;
}

.table {
  margin-left: -5px;
}

#deli {
  background-color: #f5f0dd;
}

input {
  padding: 20px 250px 20px 25px;
  margin-left: 300px;
  border-radius: 5px;
  color: #2c2c2c;
  opacity: 0.7;
  outline: none;
}

#deli form {
  padding-bottom: 100px;
  margin-left: 15%;
  vertical-align: center;
  display: inline-block;
}

.getin input {
  margin: 50px 120px 30px -100px;
  float: left;
  color: #2c2c2c;
  opacity: 0.8;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 12px 80px 12px 25px;
}

.getin .message {
  float: left;
  margin-top: 120px;
  margin-left: -700px;
  padding: 20px 390px 150px 20px;
}

.contact {
  float: right;
  background-color: #2d2d2d;
  color: white;
  height: 350px;
  width: 500px;
  margin-top: 45px;
}

.footer {
  color: white;
  background-color: #2d2d2d;
  text-align: left;
  width: 100%;
  height: 90px;
  margin-top: 500px;
}

.footer .links {
  float: right;
  margin-top: -75px;
  padding-right: 120px;
}

.links img {
  height: 30px;
  width: 30px;
  margin: 0;
  padding-right: 10px;
}

/*# sourceMappingURL=stilek.css.map */
