@import "mixins.scss";
@import "buttons.scss";
@import "texts.scss";

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
.container {
  width: 100%;
  margin: 0 auto;
}
div {
  box-sizing: border-box;
}
header {
  background-color: #f6f2f2;
  padding-bottom: 111px;
}
.topbar {
  padding: 0 38%;
  background-color: black;
  width: 100%;
  height: 100px;

}
.menu {
  display: block;
  padding: 0;
  margin: 0;

  li {
    float: left;
    display: block;
    margin-right: 41px;
    margin-top: 45px;
}
}

#redbox {
  background-color: red;
  padding: 46px 25px 36px 25px;
  margin: 0 41px 0 0;

}

.boxes {
  margin-left: 20%;
  padding-top: 50px;
}
.video {
  background-color: #c4c0b1;
  width: 384px;
  height: 235px;
  float: right;
  margin-right: 20%;
  opacity: 0.8;
  box-shadow: 0 0 50px;
  margin-top: -175px;
}
img {
  margin: 85px 0 0 150px;
  width: 70px;
  height: 70px;
}

.grid {
  float: right;
  margin-top: -200px;
  > div {
    @include grid(2, 15%)
  }
}

hr {
  width: 100%;
  background-color: #ececec;
  height: 2px;
  margin-top: 300px;
}

.line {
  width: 100px;
  background-color: red;
  height: 2px;
  margin-top: 0;
}

.midbar {
  width: 100%;
  margin: 0 30%;
}

.menu2 {
  display: block;
  padding-bottom: 100px;
  margin: 0;

  li {
    float: left;
    display: block;
    margin-right: 40px;
    margin-top: 45px;
}
}

.grid_box {
  margin-left: 10%;
}

.grid2 {
    width: 80%;
  > div {
    @include grid2(4, 5);
    box-sizing: border-box;

  }

  .products {
    width: 20%;
}
}

.products {
  margin: 12px;

  img {
    height: 250px;
    width: 250px;
    margin: 0;
}
}

.boxes hr {
  float: left;
}

.longbox {
  background-color: #f5f0dd;
  height: 400px;
  width: 300px;
  margin: 65px 65px 65px 20%;
}

.mark {
  float: left;
  margin-left: 40%;
  margin-top: -490px;
}

.menu3 li {
  float: left;
  display: block;
  font-style: italic;
  margin-right: 55px;
  margin-top: 15px;
  margin-left: -35px;
}
.team_img {
  background-color: #f5f0dd;
  margin: 5px;
  height: 150px;
  width: 150px;
  margin-top: 95px;
  position: relative;
  padding-top: 125px;

  img {
    height: 150px;
    width: 150px;
    margin: 0;
    margin-top: -125px;
  }
}

.table {
  margin-left: -5px;

}

input {
  padding: 20px 250px 20px 25px;
  margin-left: 300px;
  border-radius: 5px;
  color: #2c2c2c;
  opacity: 0.7;
  outline: none;
}

#deli {
  background-color: #f5f0dd;

  form {
    padding-bottom: 100px;
    margin-left: 15%;
    vertical-align: center;
    display: inline-block;
  }
}

.getin input {
  margin: 50px 120px 30px -100px;
  float: left;
  color: #2c2c2c;
  opacity: 0.8;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 12px 80px 12px 25px;
}
.getin .message {
  float: left;
  margin-top: 120px;
  margin-left: -700px;
  padding: 20px 390px 150px 20px;
}

.contact {
  float: right;
  background-color: #2d2d2d;
  color: white;
  height: 350px;
  width: 500px;
  margin-top: 45px;
}

.footer {
  color: white;
  background-color: #2d2d2d;
  text-align: left;
  width: 100%;
  height: 90px;
  margin-top: 500px;

  .links {
    float: right;
    margin-top: -75px;
    padding-right: 120px;

      img {
        height: 30px;
        width: 30px;
        margin: 0;
        padding-right: 10px;
    }
  }
}

.links img {
  height: 30px;
  width: 30px;
  margin: 0;
  padding-right: 10px;
}