.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.085em;
  margin-bottom: 0;
}

p {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.5;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.085em;
}

#blacktext {
  font-size: 14px;
  line-height: 1.5;
  opacity: 1;
}

h3 {
  margin-bottom: 0;
}

#feature {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
#graytext {
  text-align: center;
  margin-bottom: 20px;
}

.midbar a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

.redtext {
  color: red;
}

h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}

.menu3 a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.jue {
   text-transform: uppercase;
   font-size: 13px;
   color: white;
   background-color: #7a786e;
   padding: 5px 36px 5px 36px;
   position: absolute;
 }

h5 {
  text-decoration: none;
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 70px;
  letter-spacing: 0.085em;
}
#deli p {
  color: white;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 50px;
}

h6 {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 70px;
  margin-top: 90px;
}
.contact p {
  color: white;
  text-align: left;
  margin-left: 70px;
  font-size: 12px;
}

.footer p {
  padding: 35px 0 34px 70px;
}
